<div class="container central-area">
  <div class="row">

    <div class="col-md-12">
      <h1>
        {{title}}
      </h1>

      <div>
        <p>
          Simple demo of horizontal box plot.
        </p>
        <p>Generated trigers generation of multiple data sets to illustrate changes.</p>
      </div>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label class="btn btn-primary btn-sm"  (click)="toggleRemoved()">Toggle removed:</label> <a (click)="toggleRemoved()">
        [{{removed}}]</a>
      </div>

      <div class="form-group">
        <a class="btn btn-primary btn-sm" (click)="generateData()">generate</a>
      </div>
      <div class="form-group">
        <label class="btn btn-primary btn-sm"  (click)="toggleHidden()">Toggle Hidden: {{isHidden}}</label><br>
        <label class="btn btn-primary btn-sm"  (click)="toggleLabels()">Toggle Labels: {{labelsOn}}</label><br>
        <label class="btn btn-primary btn-sm" (click)="toggleSorted()">Toggle Sorted: {{sorted}}</label><br>

      </div>

    </div>
    <div class="col-sm-9">

      <div [hidden]="isHidden">
        <bd2-ngx-hbox-plot
          [data]="data" [labels]="labels" [hidden]="isHidden" [labelsOn]="labelsOn"
          [removed]="removed" [sorted]="sorted"
        >
        </bd2-ngx-hbox-plot>
      </div>
      {{detection()}}
    </div>
    <div class="col-sm-12">
      <div class="form-group">

        <label>Data:</label>
        <ul class="list-unstyled" style="margin: 1em;">
          <li *ngFor="let row of data">[{{row}}],</li>
        </ul>
      </div>

    </div>
  </div>
</div>
