<div class="container central-area">
  <div class="row">

    <div class="col-md-12">
      <h1>
        {{title}}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">

      <div [hidden]="isHidden">
      <bd2-ngx-hbox-plot
        [data]="data" [labels]="labels" [hidden]="isHidden" [labelsOn]="labelsOn"
      >
      </bd2-ngx-hbox-plot>
      </div>
      {{detection()}}
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <a class="btn btn-primary btn-sm" (click)="generateData()">generate</a>
      </div>
      <div class="form-group">
        <label (click)="toggleHidden()">Toggle Hidden: {{isHidden}}</label><br>
        <label (click)="toggleLabels()">Toggle Labels: {{labelsOn}}</label><br>

        <label>Data:</label>
        <ul class="list-unstyled" style="margin: 1em;">
          <li *ngFor="let row of data">[{{row}}],</li>
        </ul>
      </div>

    </div>
  </div>
</div>

